body{
    background-color:rgb(25, 25, 25);
}
main{
    margin: 10em;
}
.contenedor{
border-style: solid;
background-color:rgb(57, 57, 57);

}

.navi{
    display: flex;
justify-content: space-between;
justify-content: flex-end;
}

h3{
 
    font-style: oblique;
    font-size: medium;
    color: white;
    margin: 1em 0em 0em 1em;
}

.resumen{
     color: white;
}
main{
    margin: 10em 14em 10em 14em;
    border-style: solid;
    border-color: grey;
}