 body{
    background-color: rgb(190, 201, 210);
 }
.header{
    width:100%;
    overflow: hidden;
    
    
}


.contenedor{
border-style:solid;
background-color:rgb(21, 21, 21)

}

   

nav{
    margin:1em 0em 0em 0em ;

}
.contenedor{
display: flex;
align-items: flex-start;
justify-content: space-between;


}
#boton{
    border: 3px;
    border-style: solid;
    border-color: black;
}


    
h3{

    font-style: oblique;
    font-size: medium;
    color: white;
    margin: 3em 0em 0em 0em;
  
}
.resumen{
     color: white;
}

.resumen{
    margin: 10em 15em 10em 15em;
    border-style: solid;
    border-color: grey;
    background-size: cover;
	box-shadow: 7px 7px 7px rgb(49, 49, 49);
   
}