body {
  background-image: url(./imagenes/fondo.2.jpeg);
}
.header {
  margin: 1em 0em 0em 0em;
 
}
.contenedor {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
}
.contenedor {
  background-color: rgba(31, 31, 31, 0.4);
  border: 2px;
  border-color: rgb(59, 58, 58);
  border-style: solid;
}

.ilustracion{
  padding:4%;
}
.lenguajes{
  padding:4%;
}
.habilidad{
  margin: 1em 2em  1em 2em;
}
.tres {
  font-style: oblique;

  color: white;
  margin: 1em 0em 0em 1em;
}

.dos{
    font-style: italic;
    font-size: larger;
    color: white;
}
footer{
  font-style: oblique;
  color: white;
}