body {
  background-image: url(./imagenes/fondo.2.jpeg);
  background-size: cover;
}
.header {
  margin:  1em 0em 0em 0em;

}

.contenedor {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
}
.contenedor {
  background-color: rgba(31, 31, 31, 0.4);
  border: 2px;
  border-color: rgb(59, 58, 58);
  border-style: solid;
}

h3 {
  font-style: oblique;
  color: white;
  margin: 1em 0em 0em 1em;
}

h2 {
  font-size: x-large;
  font-style: italic;
  color: white;
  text-align:center
}

hr{
  background-color: yellow;
  height: 5px;;
}

.texto {
  color: white;
  font-style: italic;
  text-align: center; 
}


.sobre {
  margin: 8em 8em 1em 8em;
}
