body{
    background-image: url(./imagenes/fondo.2.jpeg);
}
.header {
    margin: 1em 0em 0em 0em;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
  
  .contenedor {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
  }
  .contenedor {
    background-color: rgba(31, 31, 31, 0.4);
    border: 2px;
    border-color: rgb(59, 58, 58);
    border-style: solid;
  }
  
  h3 {

    font-style: oblique;
  
    color: white;
    margin: 1em 0em 0em 1em;
  }
  .firma{
    margin: 7em 400px 5em 450px;
    border: 2px;
    border-style: solid;
    border-color: darkgoldenrod;
  }
 
  h2{
    font-style: italic;
    font-size: larger;
    color: white;
}
img{ 
  margin: 0em 1em 1em 2px;
}
.icons{
  font-style: italic;
  margin: 1em 0em 0em 1em;
}
