body{
    background-image: url(./imagenes/fondo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    font-style: italic;
    color: white;
}
h3{
    font-style: italic;
    
}



.contenedor{
display: flex;
align-items:normal;
justify-content: space-between;
}

h3{
    color: white;
}
.main{
    margin-top: 90px;
}


hr{
    color: rgb(245, 178, 9);

}