body {
  background-image: url(./imagenes/fondo.2.jpeg);
}
.header {
  margin: 2em;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.contenedor {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
}
.contenedor {
  background-color: rgba(31, 31, 31, 0.4);
  border: 2px;
  border-color: rgb(59, 58, 58);
  border-style: solid;
}

.tres {
  font-style: oblique;
  font-size: medium;
  color: white;
  margin: 4em 2em 0em 2em;
}

.programacion{
  margin: 2em;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ilustracion{
  margin: 2em;
  display: flex;
  align-items: flex-start;
  justify-content: space-around
}
   

#habilidades{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.dos{
    font-style: italic;
    font-size: larger;
    color: white;
}
footer{
  font-style: oblique;
  color: white;
}